<div class="container">
  <div class="row">
    <div class="col-md">
<div>
  <p id='users' class="btn btn-primary" (click)="searchUsers = true">Users</p> <br>
  <p id='repos' class="btn btn-primary" (click)="searchUsers = true">Repos</p>
</div>
<p class="arose"></p>
<form>
  <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="NAME" (keyup)="getProfile()">
    </div>
</form>


<div *ngIf="searchUsers">
  <div >
    <img src="{{user.avatar_url}}" alt="avatar">
    <a href="{{user.html_url}}" target="_blank"><button >GO TO PROFILE </button></a>
  </div>
  <div >
      <h3>{{user.name}}</h3>
      <p class="btn btn-success">Followers<br><span>{{user.followers}}</span></p>
      <p class="btn btn-primary">Following<br><span>{{user.following}}</span></p>
      <p class="btn btn-warning">Repositories<br><span>{{user.public_repos}}</span></p>
  </div>
  
</div>

<div *ngIf="!searchUsers">
  <div class="container repo-row">
    <div *ngFor="let rep of repo" class="some-card">
      <a href="{{rep.html_url}}" target="_blank">
          <h3>{{rep.name}}</h3>
          <p>{{rep.description}}</p>
          <p>{{rep.created_at |dateCount}}</p>
      </a>
      
    </div>
    
    
  </div>
</div>
</div>
</div>
</div>

